@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rfpl7l');
  src:  url('fonts/icomoon.eot?rfpl7l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rfpl7l') format('truetype'),
    url('fonts/icomoon.woff?rfpl7l') format('woff'),
    url('fonts/icomoon.svg?rfpl7l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-approved-by-icon:before {
  content: "\e900";
  color: #667eea;
}
.icon-approved-request:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
  color: #bdbdbd;
}
.icon-cansel-icon:before {
  content: "\e903";
  color: #bdbdbd;
}
.icon-denied-request:before {
  content: "\e904";
}
.icon-down-icon:before {
  content: "\e905";
  color: #bdbdbd;
}
.icon-edit-icon-grey:before {
  content: "\e906";
  color: #bdbdbd;
}
.icon-edit-icon-white:before {
  content: "\e907";
  color: #fff;
}
.icon-gragient-box:before {
  content: "\e908";
}
.icon-logo-softheme:before {
  content: "\e909";
  color: #fff;
}
.icon-logout-icon:before {
  content: "\e90a";
  color: #bdbdbd;
}
.icon-message-icon:before {
  content: "\e90b";
  color: #66eaca;
}
.icon-new-request-icon:before {
  content: "\e90c";
}
.icon-next-icon:before {
  content: "\e90d";
  color: #bdbdbd;
}
.icon-online-icon:before {
  content: "\e90e";
  color: #66eaca;
}
.icon-password-icon:before {
  content: "\e90f";
  color: #bdbdbd;
}
.icon-user-icon:before {
  content: "\e910";
  color: #bdbdbd;
}
.icon-user-profile-icon .path1:before {
  content: "\e911";
  color: rgb(135, 135, 135);
}
.icon-user-profile-icon .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.icon-user-profile-icon .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
