@media (min-width: 1600px) {
    .container {
        max-width: 1443px;
    }
}

.mt25 {
    margin-top: 25px;
}

.container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    background-color: #222222;
}