<div class="comp-container">
    <h3>Vacation Request</h3>
    
    <div class="details">
        <form>
          <div class="left">
            <div class="form-group">
              <label for="vacation_type">vacation type</label>
              <input class="form-control" id="vacation_type" placeholder="Not Chosen">
            </div>

            <button class="btn btn-outline-secondary pull-right" style="width: 60%;">
              CANCEL
            </button>
          </div>
          <div class="right">
            <div class="form-group">
              <label for="vacation_type">from</label>
              <input class="form-control" id="vacation_type" placeholder="XX/XX/XXXX">
            </div>

            <button class="btn btn-primary btn-block">
              SEND REQUEST
            </button>
          </div>
          <div class="clearfix"></div>
        </form>
    </div>
</div>