<div class="comp-container">
  <h3>My profile
    <button class="pull-right">
      <i class="icon-edit-icon-white"></i>
    </button>
  </h3>
  <div class="main-details">
    <div class="pull-left">
      <button class="rounded-circle">
        <i class="icon-user-icon"></i>
      </button>
    </div>
    <div class="pull-left main-details-text">
      <h3>Name Surname</h3>
      <h4>Job Title</h4>
      <div class="status">
        <i class="icon-approved-request active"></i>active</div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="details">
    <dl>
      <dt>date of birth</dt>
      <dl>XX Month XXXX</dl>

      <dt>personal email</dt>
      <dl>example@mail.com</dl>

      <dt>work email</dt>
      <dl>example@softheme.com</dl>

      <dt>phone number</dt>
      <dl>+380 00 000 00 00</dl>

      <dt>skype</dt>
      <dl></dl>

      <dt>hire date</dt>
      <dl>XX Month XXXX - Nowadays</dl>

      <dt>team name</dt>
      <dl>Team name</dl>

      <dt>team leader</dt>
      <dl>Name Surname</dl>
    </dl>
  </div>
</div>