<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ order.name }}</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-4">Order date:</dt><dd>{{ order.date | date }}</dd>
                <dt class="col-8">Order price:</dt><dd>{{ order.price | currency }}</dd>
            </dl>
            <textarea style="width: 100%;" rows="5">
Unable save this text between requests.
Because angular always refresh the list.
Impossible identify that list has same object in two different request
            </textarea>
        </div>
        <button class="btn btn-info" appClickOnce (click)="onRemove()">Remove</button>
    </div>
</div>